# Data
*.csv
*.tif
*.feather
*.pkl
*.geojson
*.TIF

# Compressed files
*.tar
*.zip
*.sqsh

# Temporary Files
*.log
*.out
*.pyc

# Output files
*.pdf
*.html
*.bib
*.tex
*.png
!output/figures/*.png
*.jpg
*.jpeg
*.rds

# System Files
.DS_Store
.DS_Store?

data/*/**
aux/
output/documents/*/*/**
output/presentations/
data/*/**
api_creds
setup/miniforge3/*
